@media only screen and (max-width: 600px) {
  #bageriet_b_splash {
    height: calc(var(--vh, 1.09vh) * 100);
    z-index: -1;
    object-fit: cover;
    position: fixed;
    left: 0.5px;
    right: 0.5px;
    top: 0;
  }

    .text {
  position: fixed;
  left: 0px;
  top: 275px;
}
}

@media only screen and (min-width: 600px) {
  #bageriet_b_splash {
    height: calc(var(--vh, 1.09vh) * 100);
    z-index: -1;
    object-fit: cover;
    position: fixed;
    left: 0.5px;
    right: 0.5px;
    top: 0;
    bottom: 0;
  }

  .text {
  position: fixed;
  left: 140px;
  top: 275px;
}

@media only screen and (min-width: 990px) {
  #bageriet_b_splash {
    height: calc(var(--vh, 1.09vh) * 100);
    z-index: -1;
    object-fit: cover;
    position: fixed;
    left: 0.5px;
    right: 0.5px;
    top: 0;
    bottom: 0;
  }

  .text {
  position: absolute;
  left: 355px;
  top: 275px;
}

#bageriet_b_splash {
  width: 100%;
  aspect-ratio: 16/9;
}

a:hover {
  color: white;
}


