@media (min-width: 800px) {
  .grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
  }
  .jobtekst {
    padding: 20px;
    text-align: center;
    margin-left: 170px;
    margin-top: 30px;
  }

  .jobbillede {
    display: block;
    margin-left: 50px;
    margin-right: auto;
    margin-bottom: 70px;
    width: 70%;
    height: 80%;
  }
  h1 {
    font-family: "Roboto", sans-serif;
    margin-left: 40px;
  }
}

@media (max-width: 799px) {
  .grid-item {
    padding-left: 40px;
  }
}

h1 {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: large;
  font-family: "Roboto", sans-serif;
}

h3 {
  font-size: small;
  font-family: "Roboto", sans-serif;
  max-width: 50ch;
}

.backgroundgrid_container {
  background-color: #a0ccd4;
  margin: 20px;
  padding: 20px;
}

main {
  background-color: white;
}


