@media (min-width: 800px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
  }
  .grid-item {
    padding: 20px;
    text-align: center;
  }
}

@media (max-width: 799px) {
  .grid-item {
    padding-left: 40px;
  }

  iframe {
    width: 90%;
  }
}

h1 {
  font-family: "Roboto", sans-serif;
  margin-left: 40px;
}

h2 {
  font-size: large;
  font-family: "Roboto", sans-serif;
}

h3 {
  font-size: x-small;
  font-family: "Roboto", sans-serif;
}
