.background-colormenubillede {
  background-color: white;
  margin-left: 20px;
  padding-left: 20px;
  margin-right: 20px;
  padding-right: 20px;
}

.background-color {
  background-color: white;
  margin: 20px;
  padding: 20px;
}

.background-menu {
  background-color: rgba(190, 113, 40, 0.829);
  margin-top: 0%;
  padding: 10%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.5px;
  line-height: 2;
}

.text-brød-item-price {
  font-size: x-small;
}

.text-kager-item-price {
  font-size: x-small;
}

.text-kaffe-item-price {
  font-size: x-small;
}

.text-mælkekaffe-item-price {
  font-size: x-small;
}

.text-te-item-price {
  font-size: x-small;
}

.text-andet-item-price {
  font-size: x-small;
}

@media (max-width: 499px) {
  .background-colormenubillede {
    background-color: white;
    margin-left: 10px;
    padding-left: 10px;
    margin-right: 10px;
    padding-right: 10px;
  }

  .background-color {
    background-color: white;
    margin: 10px;
    padding: 10px;
  }
}
