@media (min-width: 599px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
  }
  .grid-item {
    padding: 40px;
  }
}

@media (max-width: 799px) {
  .grid-item {
    padding-left: 40px;
  }
}

h1 {
  font-size: 3rem;
  font-family: Hiragino Mincho ProN;
  margin-left: 40px;
}

h2 {
  font-size: 2rem;
  font-family: Hiragino Mincho ProN;
  padding-left: 100px;
}

p {
  font-size: 1rem;
  font-family: Hiragino Mincho ProN;
  max-width: 40ch;
  min-width: 25ch;
  padding-left: 100px;
}

.grid-item {
  padding-top: 5px;
}
