main {
  margin: 10px;
  padding: 10px;
}

header {
  display: flex;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 20px;
  border: none;
}

a {
  text-decoration: none;
  font-family: Hiragino Mincho ProN;
  color: #17498e;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #d6e1f1;
  color: white;
  text-align: center;
}
