img {
  max-width: 100%;
}

main {
  margin: 10px;
  padding: 10px;
}

header {
  display: flex;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 20px;
  border: none;
}

nav img {
  max-width: 50px;
}

nav a {
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  color: #16498e;
  font-size: small;
  line-height: 3.5;
}

@media (min-width: 600px) {
  nav a {
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    color: #16498e;
    font-size: large;
    line-height: 2.7;
  }
}

footer {
  font-family: Hiragino Mincho ProN;
  width: 100%;
  bottom: 0;
  left: 0;
  background: rgb(233, 164, 97);
  top: 0;
}

footer .content {
  max-width: 1350px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .content p,
a {
  color: black;
  font-size: 12px;
}

footer .content .topic {
  font-size: 12px;
  font-weight: bold;
  color: black;
  margin-bottom: 15px;
}

footer .content p {
  text-align: justify;
}

footer .content .lower .topic {
  margin: 12px 0 5px 0;
}

footer .content .lower i {
  padding-right: 16px;
}

footer .content .middle {
  padding-left: 80px;
}

footer .content .middle a {
  line-height: 32px;
}

@media (max-width: 1100px) {
  footer .content .middle {
    padding-left: 0.5px;
  }
}

@media (max-width: 599px) {
  footer {
    position: relative;
  }
  footer .content .box {
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle {
    padding-left: 0;
  }
}
