main {
  margin: 10px;
  padding: 10px;
}

header {
  display: flex;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 20px;
  border: none;
}

a {
  text-decoration: none;
  font-family: Hiragino Mincho ProN;
  color: #17498e;
}
